 <h1>...מחכים לראות את היצירות שלכם</h1>
   
 <div class="row">
    <div class="col-75">
      <div class="container">

        <form (ngSubmit)="AddRecipe();myForm.reset();" #myForm="ngForm">
            <div class="row">
                <div class="col-50">
                   <label class="fa fa-shopping-basket a">  שם מתכון:  </label>
                <input type="text" [(ngModel)]="addRecipe.NameRecipe" name="nameRecipe" required  #nameRecipe="ngModel" />
                <div class=wrong *ngIf="nameRecipe.touched && nameRecipe.hasError('required')"> זהו שדה חובה!</div>       
            </div>
                </div>
                <div class="row">
                  <div class="col-50">
                    <label class="fa fa-hourglass-half a"> משך ההכנה  </label>
         <input type="number" [(ngModel)]="addRecipe.PreparationTime" name="preparationTime"  required #preparationTime="ngModel"  />
         <div class=wrong *ngIf="preparationTime.touched && preparationTime.hasError('required')"> זהו שדה חובה!</div>
                </div>
                </div>
                <div class="row">
                  <div class="col-50">
                    <label class="fa fa-list-ul a">  בחר קטגוריה:  </label>
                    <select [(ngModel)]="addRecipe.IdCategory" name="idCategory" #idCategory="ngModel" required>
                        <option *ngFor="let x of myCategoryArr"[value]="x.IdCategory">{{x.NameCategory}}</option>
                    </select>
                    <div *ngIf="idCategory.touched&&idCategory.hasError('required')">זהו שדה חובה!</div>
                    </div>
                </div>
                <div class="row">
                <div class="col-50">
                  <label class="fa fa-star-half-o a">  רמת קושי  </label>
         <input type="number" [(ngModel)]="addRecipe.Difficulty" name="difficulty"  #difficulty="ngModel" required />
         <div class=pass *ngIf="difficulty.touched &&difficulty.hasError('required')">זהו שדה חובה!</div>
        </div>
    </div>
    <div class="row">
                  <div class="col-50">
                     <label class="fa fa-camera-retro a">  הוסף תמונה  </label>
            <input type="file"(change)="fileChangeEvent($event)"  />
            <img *ngIf="addRecipe.ImgRecipe" [src]="addRecipe.ImgRecipe" class="img"/>
                   </div>
    </div> 
        <div class="row">
            <div class="col-50"> 
              <label class="fa fa-apple a">  רכיבים:  </label>                <div  *ngFor="let x of arr; let i=index; trackBy:trackByIdx" >
                    <input  type="text" (blur)="list()" [(ngModel)]="arr[i]" name="{{i}}" />
                </div>
            </div>
          </div>
          <div class="row">
               
            <div class="col-50">
              <label class="fa fa-cutlery a">  אופן ההכנה:  </label>
                <div  *ngFor="let x of arr2; let i=index;trackBy:trackByIdx" >
                    <input  type="text" (blur)="list2()" [(ngModel)]="arr2[i]"  name="{{i}}"/>
                </div>
            </div>
              </div>
              <div class="col-50">
                <input type="submit" value="הוסף מתכון" name="keep" [disabled]="!myForm.valid" />
            </div>
     
        </form>
      </div>
    </div>
 </div>
 