 <!-- <form (ngSubmit)="validation(); saveLocal();" #myForm="ngForm">
<div>
<input type="text" placeholder="name" name="name" [(ngModel)]="myUser.NameUser" required #name="ngModel"/>
<div class=use *ngIf="name.touched && name.hasError('required')"> שדה זה  זהו שדה חובה!</div>
</div>
<div>
<input type="text" placeholder="passWord" name="passWord" [(ngModel)]="myUser.PassWordUser"required  #passWord="ngModel"
pattern="[A-Za-z0-9]{6,10}"/>
<div class=pass *ngIf="passWord.touched &&passWord.hasError('required')">שכחת סיסמה?</div>
<div class=pass *ngIf="passWord.hasError('pattern')">הסיסמה צריכה להכיל בין 6-10 ספרות ואותיות</div>

</div>
<input type="submit" value="הבא" name="next" [disabled]="!myForm.valid"/>
</form>‏  -->

<!-- <form (ngSubmit)="validation(); " #myForm="ngForm">    -->
    <body>
     <div id="login">
        <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post" (ngSubmit)="validation(); saveLocal();" #myForm="ngForm">
                            <h3 class="text-center text-info">כניסה</h3>
                            <div class="form-group">
                                <i class="fa fa-user a"></i>
                                <label for="username" class="text-info">Username:</label>
                                <br>
                                <input type="text" name="username" [(ngModel)]="myUser.NameUser" required #name="ngModel"id="username"  class="form-control">
                                <div class=use *ngIf="name.touched && name.hasError('required')"> שדה זה  זהו שדה חובה!</div>
                            </div>
                            <div class="form-group ">
                                <div class="f">
                                <i class="fa fa-unlock-alt a" ></i>
                                <label for="password" class="text-info"> Password:</label><br>
                                
                                <input type="password" name="password" [(ngModel)]="myUser.PassWordUser"required #ll #passWord="ngModel"
                                pattern="[A-Za-z0-9]{6,10}" id="password" class="form-control">
                                <input type="button" (click)="a(ll)"[ngClass]="eyeBtnClass(ll)">  
                            </div>
                                <div class=pass *ngIf="passWord.touched &&passWord.hasError('required')">שכחת סיסמה?</div>
                                <div class=pass *ngIf="passWord.hasError('pattern')">הסיסמה צריכה להכיל בין 6-10 ספרות ואותיות</div> 
                                 </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox" ></span></label><br>
                                <input type="submit"  name="submit" class="btn btn-info btn-md" value="submit" [disabled]="!myForm.valid" >

                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>